@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box {
  width: 64px;
  height: 64px;
  background: steelblue;
  animation: spin 1s linear infinite;
}

:root[data-motion="true"] .box-css {
  animation: none;
}
